#Cleaning Stringency Data

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Policy_Stringency Index-covid-data.csv to Policy_Stringency Index-covid-data.csv

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# if uising a Jupyter notebook, include:
%matplotlib inline

In [3]:
# Reading the original dataset for stringency index
stringency_index = pd.read_csv("Policy_Stringency Index-covid-data.csv")
stringency_index.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,1/3/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,1/4/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,1/5/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,1/6/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,1/7/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [4]:
# importing a necessary function to convert date format
import datetime
date_str = '12/29/2017' # The date - 29 Dec 2017
format_str = '%m/%d/%Y' # The format
datetime_obj = datetime.datetime.strptime(date_str, format_str)
print(datetime_obj.date())

2017-12-29

## Stringency Step 1: Format Date and Blank Cell Correction

In [5]:
# convert date format to datetime
stringency_index['date'] = pd.to_datetime(stringency_index['date'], format='%m/%d/%Y')

# now filter for first of the month
stringency_index2 = stringency_index[stringency_index['date'].dt.day == 1]

# check for success
stringency_index2.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
29,AFG,Asia,Afghanistan,2020-02-01,NaN,0.0,0.000,NaN,0.0,0.000,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
58,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,NaN,0.0,0.000,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
89,AFG,Asia,Afghanistan,2020-04-01,192.0,26.0,16.857,4.0,0.0,0.429,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
119,AFG,Asia,Afghanistan,2020-05-01,2171.0,344.0,135.000,64.0,4.0,3.429,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
150,AFG,Asia,Afghanistan,2020-06-01,15836.0,656.0,665.143,269.0,15.0,6.571,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [6]:
# create a new version of the dataframe where we drop rows that do not have values for total cases or stringency index as those are not usable
stringency_index3 = stringency_index2.dropna(subset=['total_cases', 'stringency_index'])

# checking to make sure it worked
stringency_index3.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
58,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,NaN,0.0,0.000,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
89,AFG,Asia,Afghanistan,2020-04-01,192.0,26.0,16.857,4.0,0.0,0.429,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
119,AFG,Asia,Afghanistan,2020-05-01,2171.0,344.0,135.000,64.0,4.0,3.429,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
150,AFG,Asia,Afghanistan,2020-06-01,15836.0,656.0,665.143,269.0,15.0,6.571,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
180,AFG,Asia,Afghanistan,2020-07-01,31848.0,403.0,303.143,778.0,39.0,19.286,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
211,AFG,Asia,Afghanistan,2020-08-01,36796.0,168.0,96.286,1287.0,12.0,5.286,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
242,AFG,Asia,Afghanistan,2020-09-01,38282.0,34.0,18.000,1410.0,4.0,1.286,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
272,AFG,Asia,Afghanistan,2020-10-01,39371.0,17.0,16.429,1462.0,0.0,1.000,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
303,AFG,Asia,Afghanistan,2020-11-01,41425.0,91.0,93.857,1536.0,3.0,3.571,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
333,AFG,Asia,Afghanistan,2020-12-01,46498.0,283.0,215.714,1774.0,11.0,11.286,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [7]:
# keeping only specific columns
stringency_index4 = stringency_index3.loc[:, ['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'total_deaths', 'new_deaths', 'stringency_index']]

# check for validation
stringency_index4

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,stringency_index
58,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,NaN,0.0,27.78
89,AFG,Asia,Afghanistan,2020-04-01,192.0,26.0,4.0,0.0,67.59
119,AFG,Asia,Afghanistan,2020-05-01,2171.0,344.0,64.0,4.0,84.26
150,AFG,Asia,Afghanistan,2020-06-01,15836.0,656.0,269.0,15.0,84.26
180,AFG,Asia,Afghanistan,2020-07-01,31848.0,403.0,778.0,39.0,78.70
...,...,...,...,...,...,...,...,...,...
304253,ZWE,Africa,Zimbabwe,2022-08-01,256382.0,4.0,5577.0,0.0,52.64
304284,ZWE,Africa,Zimbabwe,2022-09-01,256738.0,12.0,5596.0,0.0,52.63
304314,ZWE,Africa,Zimbabwe,2022-10-01,257465.0,0.0,5602.0,0.0,52.62
304345,ZWE,Africa,Zimbabwe,2022-11-01,258169.0,0.0,5610.0,0.0,53.70
304375,ZWE,Africa,Zimbabwe,2022-12-01,259255.0,37.0,5621.0,1.0,53.70

In [8]:
# save most recent dataframe as a csv
stringency_index4.to_csv('cleaned_stringency_firstdraft.csv')

In [9]:
from google.colab import files
uploaded = files.upload()

Saving cleaned_stringency_firstdraft (2).csv to cleaned_stringency_firstdraft (2).csv

In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# if uising a Jupyter notebook, include:
%matplotlib inline

## Stringency Step 2: Transforming the Data and Aggregating Mean

In [22]:
stringency_index4.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,stringency_index,year
58,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,NaN,0.0,27.78,2020
89,AFG,Asia,Afghanistan,2020-04-01,192.0,26.0,4.0,0.0,67.59,2020
119,AFG,Asia,Afghanistan,2020-05-01,2171.0,344.0,64.0,4.0,84.26,2020
150,AFG,Asia,Afghanistan,2020-06-01,15836.0,656.0,269.0,15.0,84.26,2020
180,AFG,Asia,Afghanistan,2020-07-01,31848.0,403.0,778.0,39.0,78.70,2020

In [23]:
# Extract year from date column
stringency_index4['year'] = stringency_index4['date'].dt.year

# check that it works
stringency_index4.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,stringency_index,year
58,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,NaN,0.0,27.78,2020
89,AFG,Asia,Afghanistan,2020-04-01,192.0,26.0,4.0,0.0,67.59,2020
119,AFG,Asia,Afghanistan,2020-05-01,2171.0,344.0,64.0,4.0,84.26,2020
150,AFG,Asia,Afghanistan,2020-06-01,15836.0,656.0,269.0,15.0,84.26,2020
180,AFG,Asia,Afghanistan,2020-07-01,31848.0,403.0,778.0,39.0,78.70,2020

In [21]:
# create new df with the avg of the stringency index by country and year
transform_stringency_avg = stringency_index4.groupby(['location', 'year'])['stringency_index'].mean().reset_index()

# check df to see if it works
transform_stringency_avg

        location  year  stringency_index
0    Afghanistan  2020         49.999000
1    Afghanistan  2021         27.817500
2    Afghanistan  2022         12.500000
3        Albania  2020         66.975556
4        Albania  2021         48.380833
..           ...   ...               ...
524       Zambia  2021         41.588333
525       Zambia  2022          9.877500
526     Zimbabwe  2020         78.704444
527     Zimbabwe  2021         63.579167
528     Zimbabwe  2022         51.283333

[529 rows x 3 columns]

In [24]:
# save new df
transform_stringency_avg.to_csv('transformed_stringency_firstdraft.csv')

In [26]:
from google.colab import files
uploaded = files.upload()

Saving transformed_stringency_firstdraft (1).csv to transformed_stringency_firstdraft (1).csv

## Stringnecy Step 3: Compatible Column Names

In [28]:
new_stringency = pd.read_csv("transformed_stringency_firstdraft (1).csv")
new_stringency.head()

   Unnamed: 0     location  year  stringency_index
0           0  Afghanistan  2020         49.999000
1           1  Afghanistan  2021         27.817500
2           2  Afghanistan  2022         12.500000
3           3      Albania  2020         66.975556
4           4      Albania  2021         48.380833

In [29]:
# rename the 'location' column to 'Country name' to prep for joining
new_stringency.rename(columns={'location': 'Country name'}, inplace=True)

# drop the 'Unnamed: 0' column
new_stringency.drop(columns=['Unnamed: 0'], inplace=True)

# check df to see if it works
new_stringency

    Country name  year  stringency_index
0    Afghanistan  2020         49.999000
1    Afghanistan  2021         27.817500
2    Afghanistan  2022         12.500000
3        Albania  2020         66.975556
4        Albania  2021         48.380833
..           ...   ...               ...
524       Zambia  2021         41.588333
525       Zambia  2022          9.877500
526     Zimbabwe  2020         78.704444
527     Zimbabwe  2021         63.579167
528     Zimbabwe  2022         51.283333

[529 rows x 3 columns]

In [30]:
new_stringency.to_csv('final_cleaned_stringency_data.csv', index=False)

# Cleaning Face Covering Data

In [31]:
import pandas as pd
# Import dataset
dataset_url = "https://raw.githubusercontent.com/KrisChuY/Data-of-Application/main/Policy_face-covering-policies-covid.csv"
face_covering = pd.read_csv(dataset_url)
face_covering.head()

        Entity Code         Day  facial_coverings
0  Afghanistan  AFG  2020-01-01                 0
1  Afghanistan  AFG  2020-01-02                 0
2  Afghanistan  AFG  2020-01-03                 0
3  Afghanistan  AFG  2020-01-04                 0
4  Afghanistan  AFG  2020-01-05                 0

In [32]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# if uising a Jupyter notebook, include:
%matplotlib inline

## Face Covering Step 1: Format Date and Extract Year

In [33]:
# convert date format to datetime
face_covering['Day'] = pd.to_datetime(face_covering['Day'], format='%Y/%m/%d')

# Extract year from date column
face_covering['year'] = face_covering['Day'].dt.year

# check that it works
face_covering.head()

        Entity Code        Day  facial_coverings  year
0  Afghanistan  AFG 2020-01-01                 0  2020
1  Afghanistan  AFG 2020-01-02                 0  2020
2  Afghanistan  AFG 2020-01-03                 0  2020
3  Afghanistan  AFG 2020-01-04                 0  2020
4  Afghanistan  AFG 2020-01-05                 0  2020

## Face Covering Step 2: Transforming the Data, Aggregating Mode, and Compatible Column Names

In [34]:
# create new df with the avg of the face covering index by country and year
face_covering_mode = face_covering.groupby(['Entity', 'year'])['facial_coverings'].agg(pd.Series.mode)

# reset the index to turn the index into columns
face_covering_agg = face_covering_mode.reset_index()

# rename the 'Entity' column to 'Country name' to prep for joining
face_covering_agg.rename(columns={'Entity': 'Country name'}, inplace=True)

# check df to see if it works
face_covering_agg

    Country name  year facial_coverings
0    Afghanistan  2020                3
1    Afghanistan  2021                3
2    Afghanistan  2022                3
3        Albania  2020                1
4        Albania  2021                4
..           ...   ...              ...
552       Zambia  2021                3
553       Zambia  2022                3
554     Zimbabwe  2020                0
555     Zimbabwe  2021                3
556     Zimbabwe  2022                3

[557 rows x 3 columns]

In [35]:
face_covering_agg.to_csv('cleaned_face_covering_final.csv', index=False)

# Cleaning Cancellation Data

In [36]:
import pandas as pd
# Import dataset
dataset_url2 = 'https://raw.githubusercontent.com/KrisChuY/Data-of-Application/main/Policy_Cancellation%20of%20public-events-covid.csv'
event_cancellation = pd.read_csv(dataset_url2)
event_cancellation.head()

        Entity Code         Day  cancel_public_events
0  Afghanistan  AFG  2020-01-01                     0
1  Afghanistan  AFG  2020-01-02                     0
2  Afghanistan  AFG  2020-01-03                     0
3  Afghanistan  AFG  2020-01-04                     0
4  Afghanistan  AFG  2020-01-05                     0

In [37]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# if uising a Jupyter notebook, include:
%matplotlib inline

## Cancellation Step 1: Format Date and Extract Year

In [38]:
# convert date format to datetime
event_cancellation['Day'] = pd.to_datetime(event_cancellation['Day'], format='%Y/%m/%d')

# Extract year from date column
event_cancellation['year'] = event_cancellation['Day'].dt.year

# check that it works
event_cancellation.head()

        Entity Code        Day  cancel_public_events  year
0  Afghanistan  AFG 2020-01-01                     0  2020
1  Afghanistan  AFG 2020-01-02                     0  2020
2  Afghanistan  AFG 2020-01-03                     0  2020
3  Afghanistan  AFG 2020-01-04                     0  2020
4  Afghanistan  AFG 2020-01-05                     0  2020

## Cancellation Step 2: Transforming the Data, Aggregating Mode, and Compatible Column Names

In [39]:
# create new df with the avg of the cancellation index by country and year
event_cancellation_mode = event_cancellation.groupby(['Entity', 'year'])['cancel_public_events'].agg(pd.Series.mode)

# reset the index to turn the index into columns
event_cancellation_agg = event_cancellation_mode.reset_index()

# rename the 'Entity' column to 'Country name' to prep for joining
event_cancellation_agg.rename(columns={'Entity': 'Country name'}, inplace=True)


# check df to see if it works
event_cancellation_agg

    Country name  year  cancel_public_events
0    Afghanistan  2020                     0
1    Afghanistan  2021                     2
2    Afghanistan  2022                     1
3        Albania  2020                     2
4        Albania  2021                     1
..           ...   ...                   ...
551       Zambia  2021                     2
552       Zambia  2022                     0
553     Zimbabwe  2020                     2
554     Zimbabwe  2021                     2
555     Zimbabwe  2022                     1

[556 rows x 3 columns]

In [40]:
event_cancellation_agg.to_csv('event_cancellation_cleaned_final.csv', index=False)

# Cleaning Gathering Data

In [41]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
dataset_url = "https://raw.githubusercontent.com/KrisChuY/Data-of-Application/main/Policy_public-gathering-rules-covid.csv"
Gathering_index  = pd.read_csv(dataset_url)
Gathering_index.head()

        Entity Code         Day  restriction_gatherings
0  Afghanistan  AFG  2020-01-01                       0
1  Afghanistan  AFG  2020-01-02                       0
2  Afghanistan  AFG  2020-01-03                       0
3  Afghanistan  AFG  2020-01-04                       0
4  Afghanistan  AFG  2020-01-05                       0

## Gathering Index Step 1: Format Date and Extract Year

In [43]:
# Formating date
Gathering_index['year'] = pd.to_datetime(Gathering_index['Day']).dt.year

Gathering_index.drop('Day', axis=1, inplace=True)
Gathering_index.head()

        Entity Code  restriction_gatherings  year
0  Afghanistan  AFG                       0  2020
1  Afghanistan  AFG                       0  2020
2  Afghanistan  AFG                       0  2020
3  Afghanistan  AFG                       0  2020
4  Afghanistan  AFG                       0  2020

## Gatehring Index Step 2: Transforming the Data, Aggregating Mode, and Compatible Column Names

In [44]:
Gathering_index = Gathering_index.rename(columns={'Entity': 'Country name'})
Gathering_index.head()

  Country name Code  restriction_gatherings  year
0  Afghanistan  AFG                       0  2020
1  Afghanistan  AFG                       0  2020
2  Afghanistan  AFG                       0  2020
3  Afghanistan  AFG                       0  2020
4  Afghanistan  AFG                       0  2020

In [45]:
# Drop the "Code" column
Gathering_index.drop("Code", axis=1, inplace=True)

Gathering_index.head()

  Country name  restriction_gatherings  year
0  Afghanistan                       0  2020
1  Afghanistan                       0  2020
2  Afghanistan                       0  2020
3  Afghanistan                       0  2020
4  Afghanistan                       0  2020

In [46]:
Gathering_index = Gathering_index.groupby(['Country name', 'year']).agg(lambda x: x.mode()[0])

Gathering_index.head()

                   restriction_gatherings
Country name year
Afghanistan  2020                       0
             2021                       0
             2022                       0
Albania      2020                       4
             2021                       3

In [47]:
# save new work
Gathering_index.to_csv('Gathering_index_cleaned01.csv', index=False)

# Cleaning Happiness Data

In [48]:
#import libraries
import csv
import pandas as pd
import numpy as np

In [49]:
#Import dataset
dataset_url = "https://raw.githubusercontent.com/KrisChuY/Data-of-Application/main/DataForTable2.1WHR2023.xlsx%20-%20Sheet1.csv"
df = pd.read_csv(dataset_url)
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.350,0.451,50.5,0.718,0.168,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.8,0.679,0.191,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.1,0.600,0.121,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.4,0.496,0.164,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.7,0.531,0.238,0.776,0.614,0.268

## Happiness Step 1: Extract Years, Group by Year and Country, and Drop Countries with Missing Values

In [50]:
#Filter the dataset that only contains countries with 2020, 2021 and 2022 data
df_filtered = df[df['year'].isin([2020, 2021, 2022])]
grouped = df_filtered.groupby('Country name')['year'].nunique()
selected_countries = grouped[grouped == 3].index.tolist()
df_final = df_filtered[df_filtered['Country name'].isin(selected_countries)]

In [51]:
#check the types of the variable
df_final.dtypes

Country name                         object
year                                  int64
Life Ladder                         float64
Log GDP per capita                  float64
Social support                      float64
Healthy life expectancy at birth    float64
Freedom to make life choices        float64
Generosity                          float64
Perceptions of corruption           float64
Positive affect                     float64
Negative affect                     float64
dtype: object

In [52]:
#checking missing value

df_final.isnull().sum()

Country name                        0
year                                0
Life Ladder                         0
Log GDP per capita                  8
Social support                      0
Healthy life expectancy at birth    6
Freedom to make life choices        1
Generosity                          8
Perceptions of corruption           9
Positive affect                     1
Negative affect                     1
dtype: int64

In [53]:
#replace missing value with mean
df_final.loc[:, 'Log GDP per capita'] = df_final['Log GDP per capita'].fillna(df_final['Log GDP per capita'].mode()[0])
df_final.loc[:, 'Social support'] = df_final['Social support'].fillna(df_final['Social support'].mode()[0])
df_final.loc[:, 'Healthy life expectancy at birth'] = df_final['Healthy life expectancy at birth'].fillna(df_final['Healthy life expectancy at birth'].mode()[0])
df_final.loc[:, 'Freedom to make life choices'] = df_final['Freedom to make life choices'].fillna(df_final['Freedom to make life choices'].mode()[0])
df_final.loc[:, 'Generosity'] = df_final['Generosity'].fillna(df_final['Generosity'].mode()[0])
df_final.loc[:, 'Perceptions of corruption'] = df_final['Perceptions of corruption'].fillna(df_final['Perceptions of corruption'].mode()[0])
df_final.loc[:, 'Positive affect'] = df_final['Positive affect'].fillna(df_final['Positive affect'].mode()[0])
df_final.loc[:, 'Negative affect'] = df_final['Negative affect'].fillna(df_final['Negative affect'].mode()[0])

<ipython-input-53-a1a68e0f9d14>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[:, 'Log GDP per capita'] = df_final['Log GDP per capita'].fillna(df_final['Log GDP per capita'].mode()[0])
<ipython-input-53-a1a68e0f9d14>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[:, 'Social support'] = df_final['Social support'].fillna(df_final['Social support'].mode()[0])
<ipython-input-53-a1a68e0f9d14>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[:, 'Healthy life expectancy at birth'] = df_final['Healthy life expectancy at birth'].fillna(df_final['Healthy life expectancy at birth'].mode()[0])
<ipython-input-53-a1a68e0f9d14>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[:, 'Freedom to make life choices'] = df_final['Freedom to make life choices'].fillna(df_final['Freedom to make life choices'].mode()[0])
<ipython-input-53-a1a68e0f9d14>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[:, 'Generosity'] = df_final['Generosity'].fillna(df_final['Generosity'].mode()[0])
<ipython-input-53-a1a68e0f9d14>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[:, 'Perceptions of corruption'] = df_final['Perceptions of corruption'].fillna(df_final['Perceptions of corruption'].mode()[0])
<ipython-input-53-a1a68e0f9d14>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[:, 'Positive affect'] = df_final['Positive affect'].fillna(df_final['Positive affect'].mode()[0])
<ipython-input-53-a1a68e0f9d14>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final.loc[:, 'Negative affect'] = df_final['Negative affect'].fillna(df_final['Negative affect'].mode()[0])

In [54]:
#check again if the replacement works 
df_final.isnull().sum()

Country name                        0
year                                0
Life Ladder                         0
Log GDP per capita                  0
Social support                      0
Healthy life expectancy at birth    0
Freedom to make life choices        0
Generosity                          0
Perceptions of corruption           0
Positive affect                     0
Negative affect                     0
dtype: int64

In [55]:
#Reset the index after filtering
df_final = df_final.reset_index(drop=True)
df_final.index += 1


df_final

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1,Albania,2020,5.365,9.492,0.710,69.125,0.754,0.004,0.891,0.563,0.265
2,Albania,2021,5.255,9.583,0.702,69.150,0.827,0.041,0.896,0.554,0.254
3,Albania,2022,5.212,9.626,0.724,69.175,0.802,-0.066,0.846,0.547,0.255
4,Argentina,2020,5.901,9.888,0.897,67.150,0.823,-0.129,0.816,0.679,0.342
5,Argentina,2021,5.908,9.977,0.882,67.200,0.819,-0.012,0.816,0.685,0.345
...,...,...,...,...,...,...,...,...,...,...,...
275,Vietnam,2021,5.540,9.271,0.799,65.500,0.897,0.107,0.798,0.651,0.280
276,Vietnam,2022,6.267,9.333,0.879,65.600,0.975,-0.179,0.703,0.774,0.108
277,Zimbabwe,2020,3.160,7.596,0.717,53.575,0.643,0.006,0.789,0.661,0.346
278,Zimbabwe,2021,3.155,7.657,0.685,54.050,0.668,-0.076,0.757,0.610,0.242
279,Zimbabwe,2022,3.296,7.670,0.666,54.525,0.652,-0.070,0.753,0.641,0.191

In [56]:
#To identify how many countries left after the filtering
num_countries = df_final['Country name'].unique()

num_elements = len(num_countries)

print(num_elements)

93

## Step 2: Deeper Data Cleaning and Removing Unnecessary Columns

In [57]:
#Removing Unnecessary Variables
new_df = df_final.drop(['Positive affect', 'Negative affect'], axis=1)

new_df

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
1,Albania,2020,5.365,9.492,0.710,69.125,0.754,0.004,0.891
2,Albania,2021,5.255,9.583,0.702,69.150,0.827,0.041,0.896
3,Albania,2022,5.212,9.626,0.724,69.175,0.802,-0.066,0.846
4,Argentina,2020,5.901,9.888,0.897,67.150,0.823,-0.129,0.816
5,Argentina,2021,5.908,9.977,0.882,67.200,0.819,-0.012,0.816
...,...,...,...,...,...,...,...,...,...
275,Vietnam,2021,5.540,9.271,0.799,65.500,0.897,0.107,0.798
276,Vietnam,2022,6.267,9.333,0.879,65.600,0.975,-0.179,0.703
277,Zimbabwe,2020,3.160,7.596,0.717,53.575,0.643,0.006,0.789
278,Zimbabwe,2021,3.155,7.657,0.685,54.050,0.668,-0.076,0.757
279,Zimbabwe,2022,3.296,7.670,0.666,54.525,0.652,-0.070,0.753

In [58]:
new_df.to_csv('Cleaned_Happiness.csv', index=False)

#Merging Datasets

In [59]:
#import libraries
import csv
import pandas as pd
import numpy as np

## Merging Step 1: Import All Cleaned Datasets

In [60]:
#Import Stringency dataset
dataset_url = "https://raw.githubusercontent.com/KrisChuY/Data-of-Application/main/final_cleaned_stringency_data.csv"
stringency_df = pd.read_csv(dataset_url)
stringency_df.head()

   Unnamed: 0 Country name  year  stringency_index
0           0  Afghanistan  2020         49.999000
1           1  Afghanistan  2021         27.817500
2           2  Afghanistan  2022         12.500000
3           3      Albania  2020         66.975556
4           4      Albania  2021         48.380833

In [61]:
#Import face covering dataset
dataset_url2 = "https://raw.githubusercontent.com/KrisChuY/Data-of-Application/main/cleaned_face_covering_final.csv"
face_covering_df = pd.read_csv(dataset_url2)
face_covering_df.head()

   Unnamed: 0 Country name  year facial_coverings
0           0  Afghanistan  2020                3
1           1  Afghanistan  2021                3
2           2  Afghanistan  2022                3
3           3      Albania  2020                1
4           4      Albania  2021                4

In [62]:
#Import cancellation dataset
dataset_url3 = "https://raw.githubusercontent.com/KrisChuY/Data-of-Application/main/event_cancellation_cleaned_final.csv"
cancellation_df = pd.read_csv(dataset_url3)
cancellation_df.head()

   Unnamed: 0 Country name  year  cancel_public_events
0           0  Afghanistan  2020                     0
1           1  Afghanistan  2021                     2
2           2  Afghanistan  2022                     1
3           3      Albania  2020                     2
4           4      Albania  2021                     1

In [63]:
#Import gathering dataset
dataset_url4 = "https://raw.githubusercontent.com/KrisChuY/Data-of-Application/main/Gathering_index_cleaned01.csv"
gathering_df = pd.read_csv(dataset_url4)
gathering_df.head()

  Country name  year  restriction_gatherings
0  Afghanistan  2020                       0
1  Afghanistan  2021                       0
2  Afghanistan  2022                       0
3      Albania  2020                       4
4      Albania  2021                       3

In [64]:
#Import happiness dataset
dataset_url5 = "https://raw.githubusercontent.com/KrisChuY/Data-of-Application/main/Cleaned_Happiness.csv"
happiness_df = pd.read_csv(dataset_url5)
happiness_df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Albania,2020,5.365,9.492,0.710,69.125,0.754,0.004,0.891
1,Albania,2021,5.255,9.583,0.702,69.150,0.827,0.041,0.896
2,Albania,2022,5.212,9.626,0.724,69.175,0.802,-0.066,0.846
3,Argentina,2020,5.901,9.888,0.897,67.150,0.823,-0.129,0.816
4,Argentina,2021,5.908,9.977,0.882,67.200,0.819,-0.012,0.816

## Merging Step 2: Inner Merge datasets on Country and Year

In [65]:
#Let's try merging these dataframes in one line of code :)
merged_df = pd.merge(stringency_df, face_covering_df, on=['Country name', 'year']).merge(gathering_df, on=['Country name', 'year']).merge(cancellation_df, on=['Country name', 'year']).merge(happiness_df, on=['Country name', 'year'])

merged_df

,Unnamed: 0_x,Country name,year,stringency_index,Unnamed: 0_y,facial_coverings,restriction_gatherings,Unnamed: 0,cancel_public_events,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,3,Albania,2020,66.975556,3,1,4,3,2,5.365,9.492,0.710,69.125,0.754,0.004,0.891
1,4,Albania,2021,48.380833,4,4,3,4,1,5.255,9.583,0.702,69.150,0.827,0.041,0.896
2,5,Albania,2022,22.531667,5,2,0,5,0,5.212,9.626,0.724,69.175,0.802,-0.066,0.846
3,15,Argentina,2020,88.887778,15,3,4,15,2,5.901,9.888,0.897,67.150,0.823,-0.129,0.816
4,16,Argentina,2021,67.019167,16,3,4,16,2,5.908,9.977,0.882,67.200,0.819,-0.012,0.816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,518,Vietnam,2021,69.095833,546,3,3,545,2,5.540,9.271,0.799,65.500,0.897,0.107,0.798
263,519,Vietnam,2022,39.045000,547,3,2,546,1,6.267,9.333,0.879,65.600,0.975,-0.179,0.703
264,526,Zimbabwe,2020,78.704444,554,0,3,553,2,3.160,7.596,0.717,53.575,0.643,0.006,0.789
265,527,Zimbabwe,2021,63.579167,555,3,3,554,2,3.155,7.657,0.685,54.050,0.668,-0.076,0.757
266,528,Zimbabwe,2022,51.283333,556,3,3,555,1,3.296,7.670,0.666,54.525,0.652,-0.070,0.753

## Mergeing Step 3: Clean New Dataset and Drop Unnecessary Columns

In [66]:
#dropping unnecessary column
merged_df.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 0'], inplace=True)
merged_df

,Country name,year,stringency_index,facial_coverings,restriction_gatherings,cancel_public_events,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,Albania,2020,66.975556,1,4,2,5.365,9.492,0.710,69.125,0.754,0.004,0.891
1,Albania,2021,48.380833,4,3,1,5.255,9.583,0.702,69.150,0.827,0.041,0.896
2,Albania,2022,22.531667,2,0,0,5.212,9.626,0.724,69.175,0.802,-0.066,0.846
3,Argentina,2020,88.887778,3,4,2,5.901,9.888,0.897,67.150,0.823,-0.129,0.816
4,Argentina,2021,67.019167,3,4,2,5.908,9.977,0.882,67.200,0.819,-0.012,0.816
...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Vietnam,2021,69.095833,3,3,2,5.540,9.271,0.799,65.500,0.897,0.107,0.798
263,Vietnam,2022,39.045000,3,2,1,6.267,9.333,0.879,65.600,0.975,-0.179,0.703
264,Zimbabwe,2020,78.704444,0,3,2,3.160,7.596,0.717,53.575,0.643,0.006,0.789
265,Zimbabwe,2021,63.579167,3,3,2,3.155,7.657,0.685,54.050,0.668,-0.076,0.757
266,Zimbabwe,2022,51.283333,3,3,1,3.296,7.670,0.666,54.525,0.652,-0.070,0.753

## Merging Step 4: Transforming New Dataset by Adding the Life Ladder Rank

In [67]:
# creating a new dataframe that includes a rank of life ladder per year irrespective of country 

# create a new column 'Rank' that shows the rank of each metric within each year
merged_df['Life Ladder Rank'] = merged_df.groupby('year')['Life Ladder'].rank(ascending=False)

# sort the dataframe by year and rank
merged_df2 = merged_df.sort_values(['year', 'Life Ladder Rank'])

# check dataframe
merged_df2

,Country name,year,stringency_index,facial_coverings,restriction_gatherings,cancel_public_events,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Life Ladder Rank
75,Finland,2020,39.269091,0,0,1,7.889,10.767,0.962,71.075,0.962,-0.121,0.164,1.0
102,Iceland,2020,43.981000,0,3,2,7.575,10.862,0.983,72.025,0.949,0.153,0.644,2.0
57,Denmark,2020,51.667000,0,4,1,7.515,10.924,0.947,71.125,0.938,0.047,0.214,3.0
228,Switzerland,2020,46.992000,0,3,2,7.508,11.137,0.946,72.700,0.917,-0.072,0.280,4.0
180,Netherlands,2020,55.371000,2,4,2,7.504,10.902,0.944,71.475,0.935,0.147,0.281,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,India,2022,42.436667,3,0,0,3.930,8.850,0.608,61.200,0.893,0.090,0.771,85.0
233,Tanzania,2022,9.720833,0,0,0,3.616,7.872,0.600,59.850,0.856,0.136,0.584,86.0
14,Bangladesh,2022,19.676667,4,0,0,3.408,8.743,0.404,64.675,0.865,-0.055,0.617,87.0
266,Zimbabwe,2022,51.283333,3,3,1,3.296,7.670,0.666,54.525,0.652,-0.070,0.753,88.0
149,Lebanon,2022,31.252500,1,0,1,2.352,9.428,0.535,66.225,0.450,-0.126,0.883,89.0

In [68]:
merged_df2.to_csv('final_merged_df_witheverything.csv, index = False')

In [69]:
#import libraries
import csv
import pandas as pd
import numpy as np

In [70]:
#Import final dataset
dataset_url = "https://raw.githubusercontent.com/KrisChuY/Data-of-Application/main/merged_df_test.csv"
df = pd.read_csv(dataset_url)
df.head()

,Unnamed: 0,Country name,year,stringency_index,facial_coverings,restriction_gatherings,cancel_public_events,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,0,Albania,2020,66.975556,1,4,2,5.365,9.492,0.710,69.125,0.754,0.004,0.891,0.563,0.265
1,1,Albania,2021,48.380833,4,3,1,5.255,9.583,0.702,69.150,0.827,0.041,0.896,0.554,0.254
2,2,Albania,2022,22.531667,2,0,0,5.212,9.626,0.724,69.175,0.802,-0.066,0.846,0.547,0.255
3,3,Argentina,2020,88.887778,3,4,2,5.901,9.888,0.897,67.150,0.823,-0.129,0.816,0.679,0.342
4,4,Argentina,2021,67.019167,3,4,2,5.908,9.977,0.882,67.200,0.819,-0.012,0.816,0.685,0.345

# Overall Correlation Coefficient of Stringency index and Life Ladder

In [71]:
# Group the data by year
grouped_data = df.groupby('year')

# Concatenate all data from different years into a single DataFrame
all_data = pd.concat([data for _, data in grouped_data])

# Calculate the correlation coefficient for the entire dataset
correlation_collective = all_data['stringency_index'].corr(all_data['Life Ladder'])

# Print the result for the collective analysis
print(f"Collective Analysis - Correlation: {correlation_collective}")

Collective Analysis - Correlation: -0.13653002688918928

# Correlation Coefficient of Stringency index and Life Ladder Per year

In [72]:
# Iterate over each group
for year, data in grouped_data:
    # Select the 'stringency_index' and 'Life Ladder' columns for the current year
    year_data = data[['stringency_index', 'Life Ladder']]
    
    # Calculate the correlation coefficient
    correlation = year_data.corr().iloc[0, 1]  # Get the correlation value
    
    # Print the result for the current year
    print(f"Correlation for year {year}: {correlation}")

Correlation for year 2020: -0.32570058456788364
Correlation for year 2021: -0.03717790824450723
Correlation for year 2022: -0.3163793364891517

#Overall Correlation Coefficient bewteen Restriction Policies and Life Ladder

In [73]:
# Concatenate all data from different years into a single DataFrame
all_data = pd.concat([data for _, data in grouped_data])

# Calculate the correlation coefficient for the entire dataset (facial_coverings)
correlation_collective_coverings = all_data['facial_coverings'].corr(all_data['Life Ladder'])

# Calculate the correlation coefficient for the entire dataset (cancel_public_events)
correlation_collective_cancel_events = all_data['cancel_public_events'].corr(all_data['Life Ladder'])

# Calculate the correlation coefficient for the entire dataset (restriction_gatherings)
correlation_collective_restrict_gatherings = all_data['restriction_gatherings'].corr(all_data['Life Ladder'])

# Print the results for the collective analysis
print(f"Collective Analysis - facial_coverings Correlation: {correlation_collective_coverings}")
print(f"Collective Analysis - cancel_public_events Correlation: {correlation_collective_cancel_events}")
print(f"Collective Analysis - restriction_gatherings Correlation: {correlation_collective_restrict_gatherings}")

Collective Analysis - facial_coverings Correlation: -0.23258510714124517
Collective Analysis - cancel_public_events Correlation: -0.10028355490406048
Collective Analysis - restriction_gatherings Correlation: -0.0318901868466787

#Overall Correlation Coefficient bewteen Restriction Policies and Life Ladder per year

In [74]:
# Create an empty DataFrame to store the correlation results
correlation_results = pd.DataFrame(columns=['Policy', 'Year', 'Correlation'])

# Iterate over each group
for year, data in grouped_data:
    # Iterate over each policy variable
    for policy in ['facial_coverings', 'cancel_public_events', 'restriction_gatherings']:
        # Select the policy variable and 'Life Ladder' columns for the current year
        year_data = data[[policy, 'Life Ladder']]
        
        # Calculate the correlation coefficient
        correlation = year_data.corr().iloc[0, 1]  # Get the correlation value
        
        # Create a new DataFrame with the correlation result
        result_df = pd.DataFrame({
            'Policy': [policy],
            'Year': [year],
            'Correlation': [correlation]
        })
        
        # Concatenate the result_df with correlation_results DataFrame
        correlation_results = pd.concat([correlation_results, result_df], ignore_index=True)

# Sort the correlation_results DataFrame by 'Policy' column
correlation_results = correlation_results.sort_values(by='Policy')

# Print the correlation results
for index, row in correlation_results.iterrows():
    print(f"Correlation for {row['Year']}, {row['Policy']}: {row['Correlation']}")

Correlation for 2020, cancel_public_events: 0.014429194524729612
Correlation for 2021, cancel_public_events: -0.09617300211473845
Correlation for 2022, cancel_public_events: -0.2921660108395345
Correlation for 2020, facial_coverings: -0.2522994066035953
Correlation for 2021, facial_coverings: -0.3251003220145135
Correlation for 2022, facial_coverings: -0.21164494150288585
Correlation for 2020, restriction_gatherings: 0.018504175973268942
Correlation for 2021, restriction_gatherings: 0.13236552000828003
Correlation for 2022, restriction_gatherings: -0.2893308079578301

# Regression Analysis of Demographic Variables from Happiness Dataset and Life Ladder

In [75]:
import statsmodels.api as sm

# Select the independent variables (X) and the dependent variable (y)
X = df[['Log GDP per capita', 'Social support', 'Healthy life expectancy at birth', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']]
y = df['Life Ladder']

# Add a constant term to the independent variable
X = sm.add_constant(X)

# Fit the regression model with the interaction terms
model = sm.OLS(y, X).fit()

# Print the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Life Ladder   R-squared:                       0.804
Model:                            OLS   Adj. R-squared:                  0.800
Method:                 Least Squares   F-statistic:                     177.8
Date:                Mon, 22 May 2023   Prob (F-statistic):           5.38e-89
Time:                        13:16:30   Log-Likelihood:                -180.84
No. Observations:                 267   AIC:                             375.7
Df Residuals:                     260   BIC:                             400.8
Df Model:                           6
Covariance Type:            nonrobust
====================================================================================================
                                       coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
const                               -2.4437      0.567     -4.306      0.000      -3.561      -1.326
Log GDP per capita                   0.3003      0.057      5.285      0.000       0.188       0.412
Social support                       4.1390      0.376     11.001      0.000       3.398       4.880
Healthy life expectancy at birth     0.0126      0.011      1.189      0.235      -0.008       0.033
Freedom to make life choices         2.0539      0.347      5.921      0.000       1.371       2.737
Generosity                           0.0411      0.208      0.198      0.844      -0.368       0.450
Perceptions of corruption           -0.8044      0.185     -4.352      0.000      -1.168      -0.440
==============================================================================
Omnibus:                        4.253   Durbin-Watson:                   1.020
Prob(Omnibus):                  0.119   Jarque-Bera (JB):                4.221
Skew:                          -0.202   Prob(JB):                        0.121
Kurtosis:                       3.465   Cond. No.                     1.41e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.41e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# Regression Analysis of Stringency Index and Life Ladder

In [76]:
import statsmodels.api as sm

# Select the independent variable (X) and the dependent variable (y)
X = df['stringency_index']
y = df['Life Ladder']

# Select the control variables
control_vars = ['Log GDP per capita', 'Social support', 
                'Freedom to make life choices', 'Perceptions of corruption']

# Add the control variables to the independent variable
X = sm.add_constant(X)
X[control_vars] = df[control_vars]

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Life Ladder   R-squared:                       0.803
Model:                            OLS   Adj. R-squared:                  0.799
Method:                 Least Squares   F-statistic:                     212.8
Date:                Mon, 22 May 2023   Prob (F-statistic):           6.94e-90
Time:                        13:16:33   Log-Likelihood:                -181.54
No. Observations:                 267   AIC:                             375.1
Df Residuals:                     261   BIC:                             396.6
Df Model:                           5
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -2.0769      0.486     -4.273      0.000      -3.034      -1.120
stringency_index                -0.0003      0.002     -0.197      0.844      -0.003       0.003
Log GDP per capita               0.3394      0.046      7.316      0.000       0.248       0.431
Social support                   4.2284      0.367     11.524      0.000       3.506       4.951
Freedom to make life choices     2.0995      0.336      6.256      0.000       1.439       2.760
Perceptions of corruption       -0.8132      0.184     -4.417      0.000      -1.176      -0.451
==============================================================================
Omnibus:                        3.619   Durbin-Watson:                   1.028
Prob(Omnibus):                  0.164   Jarque-Bera (JB):                3.388
Skew:                          -0.200   Prob(JB):                        0.184
Kurtosis:                       3.379   Cond. No.                         970.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Regression Analysis of Specific Restriction Policies and Life Ladder

In [77]:
import statsmodels.api as sm

# Select the independent variable (X) and the dependent variable (y)
X = df[['restriction_gatherings', 'cancel_public_events', 'facial_coverings']]
y = df['Life Ladder']

# Select the control variables
control_vars = ['Log GDP per capita', 'Social support', 
                'Freedom to make life choices', 'Perceptions of corruption']

# Add the control variables to the independent variable
X = sm.add_constant(X)
X[control_vars] = df[control_vars]

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the regression results
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            Life Ladder   R-squared:                       0.808
Model:                            OLS   Adj. R-squared:                  0.802
Method:                 Least Squares   F-statistic:                     155.2
Date:                Mon, 22 May 2023   Prob (F-statistic):           7.42e-89
Time:                        13:16:36   Log-Likelihood:                -178.44
No. Observations:                 267   AIC:                             372.9
Df Residuals:                     259   BIC:                             401.6
Df Model:                           7
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           -2.2530      0.484     -4.658      0.000      -3.205      -1.301
restriction_gatherings          -0.0400      0.030     -1.357      0.176      -0.098       0.018
cancel_public_events             0.0736      0.059      1.253      0.211      -0.042       0.189
facial_coverings                 0.0576      0.027      2.130      0.034       0.004       0.111
Log GDP per capita               0.3372      0.046      7.305      0.000       0.246       0.428
Social support                   4.3763      0.369     11.866      0.000       3.650       5.102
Freedom to make life choices     2.1264      0.333      6.385      0.000       1.471       2.782
Perceptions of corruption       -0.9369      0.187     -5.005      0.000      -1.306      -0.568
==============================================================================
Omnibus:                        1.686   Durbin-Watson:                   1.069
Prob(Omnibus):                  0.430   Jarque-Bera (JB):                1.436
Skew:                          -0.073   Prob(JB):                        0.488
Kurtosis:                       3.329   Cond. No.                         199.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.